.div form{
    width: 90%;
    margin: auto;
}
.div h2{
    color: #5f64f2;
}
.div input,.div select{
    background-color: #171717;
    border: 2px solid #353535;
    padding: 0.5rem;
    width: 90%;
    color: white;
    margin-top: 1rem;
}
.div button{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.div{
    background-color: #292929;
}